body {
background-color: #F3F3F4;
}

.jumbotron {
    background-color: #336699;
    color: white;

}

#location-container {
    background-color: #9A5B99;
    font-size: 1.5em;
    color: white;
}
.card-color, .current-weather, .list-group-item {
    background-color: #B47EB3 !important;
    color: white;
}

.card-header {
    background-color: #9A5B99;
    color: white;
}

#current-img {
    position: center;
    background-color: #B47EB3 !important;
    width: 2em !important;
    height: 2em !important;
}
